<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <header th:insert="header/header.html :: header"/>
    <H1>Imagine picture</H1>
    <button type="button" class="btn btn-primary" href="/gallery/add">Create new gallery</button>
    <button type="button" class="btn btn-primary" href="'/gallery/' + ${el.id} + '/edit'">Edit</button>
    <button type="button" class="btn btn-primary" href="'/gallery/ + ${el.id} + '/remove''">Remove</button>
</body>
</html>