<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<header th:insert="header/header.html :: header"/>
<div class="container mt-5 mb-5">
<H1>Add new gallery</H1>
    <form action="/gallery/add" method="post">
         <input type="text" name="description" placeholder="Enter description" class="form-control">
         <input type="text" name="imageLink" placeholder="Enter imageLink" class="form-control">
    </form>
    <button type="submit" class="btn btn-primary">Add</button>
</div>
</body>
</html>