<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<header th:insert="header/header.html :: header"/>
<div class="container mt-5 mb-5">
    <H1>Edit career</H1>
    <div th:each="el : ${teachers}">
        <form method="post">
            <input type="text" th:value="${el.fullName}" name="fullName" placeholder="Enter full name" class="form-control">
            <input type="text" th:value="${el.imageLink}" name="image link" placeholder="Enter image link" class="form-control">
            <input type="text" th:value="${el.description}" name="description" placeholder="Enter description" class="form-control">
            <button type="submit" class="btn btn-primary">Edit</button>
        </form>
    </div>
</div>
</body>
</html>